.SortForm {
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  background-color: var(--color-1);
}

.SortForm h2 {
  font-size: var(--font-size-xxl);
  font-weight: var(--font-weight-bold);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 24px;
}
