.Login {
  width: 100%;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.logo {
  max-width: 124px;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.buttons {
  align-self: end;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 27px;
}
